<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="/css/serviceErrorPage.css">
</head>
<body>
<div class="error_page">
    <div class="image_area">
        <img id="logo" th:src="@{/img/error_page_image.jpg}">
    </div>
    <div class="contents">
        <p class="error_info">
            입력하신 검색어로 나오는 결과가 너무 많습니다.<br>
            정확한 검색어로 다시 입력해주세요.
        </p>

        <p class="error_info">
            There are too many results in search.<br>
            Please re-enter the correct search word.
        </p>
    </div>

    <div class="button_area">
        <a th:href="@{/}">Home</a>
    </div>
</div>
</body>
</html>