<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/community_style.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <div th:replace="~{header :: header}">
        </div>
        <div class = "community_page">
            <div class = "community_form">
                <div class = "intro_text">게시판</div>
                <div class = "function_form">
                    <div class = "create_btn">
                        <a th:href="@{/community/write}">글 쓰기</a>
                    </div>
                    <ul class="function">
                        <li><input type="text" id="search_text"></li>
                        <li><input type="submit" id="search_button" value="검색"></li>
                    </ul>
                </div>
                <div class = "table_form">
                <table>
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="posting : ${postingList}">
<!--                        <th:block th:each="count : ${#numbers.sequence(postingCount, totalPostingCount)">
                            <td th:text="${count}"></td>
                        </th:block>-->
                        <td th:text="${posting.id}"></td>
                        <td>
                            <a th:text="${posting.title}" th:href="@{/community/{id}/read (id=${posting.id})}"></a>
                        </td>
                        <td th:text="${posting.writer}"></td>
                        <td th:text="${posting.hits}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class = "number">
                    <th:block th:each="page:${#numbers.sequence(startPage, endPage)}">
                        <a th:if="${page != currentPage}" th:href="@{/community/list(page=${page -1})}"
                           th:text="${page}"></a>
                        <strong th:if="${page == currentPage}" th:text="${page}" style="color:red"></strong>
                    </th:block>
                </div>
            </div>  
        </div>
    </body>
</html>