<!doctype html>
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="community_style.css">
        <link rel="stylesheet" type="text/css" href="common.css">
    </head>
    <body>
        <div class = "header" id="category_header">
            <div class="logo">
                <span>LOGO</span>
            </div>
            <ul class="nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Community</a></li>
                <li>
                    <div class="login_btn">
                        <a href="#">로그인</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class = "community_page">
            <div class = "community_form">
                <div class = "intro_text">게시판</div>
                <div class = "create_btn">
                    <a href="#">글 쓰기</a>
                </div>
                <form>
                    <table>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><text>1</text></td>
                                <td><a href="#"><text>예제파일</text></a></td>
                                <td><text>홍길동</text></td>
                                <td><text>1</text></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>  
        </div>
    </body>
</html>