<!doctype html>
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/community_write_style.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <div class = "header" id="category_header">
            <div class="logo">
                <span>LOGO</span>
            </div>
            <ul class="nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Community</a></li>
                <li>
                    <div class="login_btn">
                        <a href="#">로그인</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class = "write_page">
            <div class = "write_form">
                <div class = "intro_text">글 쓰기</div>
                <form>
                    <textarea></textarea>

                    <div class = "btn_form">
                        <div class = "write_btn">
                            <a href="#">작성 완료</a>
                        </div>
    
                        <div class = "cancel_btn">
                            <a href="#">취소</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>