<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/community_modify_style.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <div th:replace="~{header :: header}">
        </div>
        <div class = "modify_page">
            <div class = "modify_form">
                <div class = "intro_text">글 수정</div>
                <form>
                    <textarea></textarea>

                    <div class = "btn_form">
                        <div class = "modify_btn">
                            <a href="#">수정 완료</a>
                        </div>
    
                        <div class = "cancel_btn">
                            <a href="#">취소</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>