<!doctype html>
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/community_read_style.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <div class = "header" id="category_header">
            <div class="logo">
                <span>LOGO</span>
            </div>
            <ul class="nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Community</a></li>
                <li>
                    <div class="login_btn">
                        <a href="#">로그인</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class = "read_page">
            <div class = "read_form">
                <div class = "intro_text"><text>글 제목</text></div>
                <div class = "page_info_text">
                    <div class = "creater_info">
                        글쓴이 : <text>홍길동</text>
                    </div>
                    <div class = "count_info">
                        조회수 : <text>1</text>
                    </div>
                </div>
                <form>
                    <input type="text">

                    <div class = "btn_form">
                        <div class = "modify_btn">
                            <a href="#">수정 하기</a>
                        </div>

                        <div class = "delete_btn">
                            <a href="#">삭제 하기</a>
                        </div>
    
                        <div class = "back_btn">
                            <a href="#">뒤로 가기</a>
                        </div>
                    </div>

                    <div class="check_password">
                        비밀번호 : 
                        <input type="password">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>