<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/community_style.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <div th:replace="~{header :: header}">
        </div>
        <div class = "community_page">
            <div class = "community_form">
                <div class = "intro_text">자유게시판</div>
                <div class = "function_form">
                    <form th:action method="get">
                        <div class = "create_btn" th:onclick="|location.href = '@{/community/write}'|">
                            글 쓰기
                        </div>
                        <ul class="function">
                            <li><input type="text" id="search_text" name="postingInfo"></li>
                            <li><input type="submit" id="search_button" value="검색"></li>
                        </ul>
                    </form>
                </div>
                <div class = "table_form">
                <table>
                    <colgroup>
                        <col style="width:5%">
                        <col style="width:40%">
                        <col style="width:10%">
                        <col style="width:8%">
                        <col style="width:5%">
                    </colgroup>

                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="posting : ${postingList}">
<!--                        <th:block th:each="count : ${#numbers.sequence(postingCount, totalPostingCount)">
                            <td th:text="${count}"></td>
                        </th:block>-->
                        <td th:text="${posting.id}"></td>
                        <td class="table_title">
                            <a th:text="${posting.title}" th:href="@{/community/read/{id} (id=${posting.id})}"></a>
                        </td>
                        <td th:text="${posting.writer}"></td>
                        <td th:text="${posting.createdDate}"></td>
                        <td th:text="${posting.hits}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class = "number">
                    <th:block th:each="page:${#numbers.sequence(startPage, endPage)}">
                        <a th:if="${page != currentPage}" th:href="@{/community/list(page=${page -1})}"
                           th:text="${page}"></a>
                        <strong th:if="${page == currentPage}" th:text="${page}" style="color:red"></strong>
                    </th:block>
                </div>
            </div>  
        </div>
    </body>
</html>