html, body{
    height: 100%;
}

.modify_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modify_form{
    width: 50%;
    border: 1px solid gray;
    text-align: center;
}

.intro_text{
    width: 100%;
    height: 120px;
    margin-top: 30px;
    font-size: 30px;
    font: weight 5px;
    line-height: 120px;
}

.modify_form > form > textarea{
    width: 80%;
    height: 500px;
    font-size: 18px;
}

.btn_form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.modify_btn, .cancel_btn{
    width: 160px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 45px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.cancel_btn{
    margin-left: 30px;
}