html, body{
    height: 100%;
}

.modify_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modify_form{
    width: 70%;
    text-align: center;
}

.intro_text{
    width: 100%;
    height: 120px;
    margin-top: 30px;
    font-size: 30px;
    font: weight 5px;
    line-height: 120px;
    font-weight: 700;
}

table.contents{
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    margin-top: 30px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.contents th{
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}

table.contents td{
    width: 350px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.read {
    width: 350px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.write {
    width: 350px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.content{
    height: 350px;
}

.content > td > textarea{
    width: 100%;
    height: 350px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    border: none;
}

.btn_form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.modify_btn, .delete_btn, .cancel_btn{
    width: 160px;
    height: 45px;
    border-radius: 5px;
    border: none;
    line-height: 45px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
    background: rgb(125, 164, 236);
    color: #fff;
}

.delete_btn, .cancel_btn{
    margin-left: 30px;
}