html, body{
    height: 100%;
}

.write_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.write_form{
    width: 50%;
    border: 1px solid gray;
    text-align: center;
}

.intro_text{
    width: 100%;
    height: 120px;
    margin-top: 30px;
    font-size: 30px;
    font: weight 5px;
    line-height: 120px;
}

.title > input{
    width: 80%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.write_form > form > textarea{
    width: 80%;
    height: 500px;
    font-size: 18px;
    padding-left: 5px;
    resize: none;
}

.check_password{
    margin-top: 30px;
    font-size: 18px;
}

.check_password > input{
    height: 20px;
    line-height: 20px;
}

.btn_form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cancel_btn{
    width: 160px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 45px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.write_btn > input{
    width: 160px;
    height: 45px;
    background: #ffffff;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 45px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.cancel_btn{
    margin-left: 30px;
}