*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
}

html, body{
    height: 100%;
}

.join_page{
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    margin: 50px auto 30px auto;
    text-align: center;
}

.join_form > form > ul > li > input{
    width: 450px;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 15px;
}

/* .join_form > form > ul > li > select{
    width: 465px;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 20px;
    font-size: 15px;
} */

.join_btn{
    width: 450px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(107, 107, 107);
    line-height: 50px;
    margin-top: 30px;
    cursor: pointer;
}