<!doctype html>
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/join_style.css">
    </head>
    <body>
        <div class="join_page">
            <div class="join_form">
                <div class="logo">LOGO</div>
                <form>
                    <ul>
                        <li>
                            <div class = "join_title"><h4>이름</h4></div>
                            <input type="text">
                        </li>
                        <!-- <li>
                            <div class = "join_title"><h4>성별</h4></div>
                            <select name="sex">
                                <option value = 1 selected>성별
                                <option value = 1>남자
                                <option value = 1>여자
                            </select>
                        </li> -->
                        <li>
                            <div class = "join_title"><h4>아이디</h4></div>
                            <input type="text"  placeholder="5 ~ 20자의 영문 소문자, 숫자 조합">
                        </li>
                        <li>
                            <div class = "join_title"><h4>비밀번호</h4></div>
                            <input type="password" placeholder="8 ~ 16자의 영문 소문자, 숫자, 특수문자 조합">
                        </li>
                        <li>
                            <div class = "join_title"><h4>비밀번호 확인</h4></div>
                            <input type="password">
                        </li>
                        <li>
                            <div class = "join_btn">
                                <a href="#">회원가입</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </body>
</html>