<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/join_style.css">

        <style>
            .field-error {
                border-color: #dc3545;
                color: #dc3545;
            }
        </style>
    </head>
    <body>
        <div class="join_page">
            <div class="join_form">
                <div class="logo">LOGO</div>
                <form action="mainPage.html" th:action th:object="${joinForm}" method="post">
                    <ul>
                        <li>
                            <div class = "join_title"><h4>이름</h4></div>
                            <input type="text" class="form_input" th:field="*{userName}"
                                    th:errorclass="field-error">
                            <div class="field-error" th:errors="*{userName}"/>
                        </li>
                        <li>
                            <div class = "join_title"><h4>아이디</h4></div>
                            <input type="text" class="form_input" placeholder="5 ~ 20자의 영문 소문자, 숫자 "
                                   th:field="*{userId}" th:errorclass="field-error">
                            <div class="field-error" th:errors="*{userId}"/>
                        </li>
                        <li>
                            <div class = "join_title"><h4>비밀번호</h4></div>
                            <input type="password" class="form_input" placeholder="8 ~ 16자의 영문 소문자, 숫자, 특수문자 조합"
                                   th:field="*{password}" th:errorclass="field-error">
                            <div class="field-error" th:errors="*{password}"/>
                        </li>
                        <li>
                            <div class = "join_title"><h4>비밀번호 확인</h4></div>
                            <input type="password" class="form_input" th:field="*{check_password}"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{check_password}"/>
                        </li>
                        <li>
                            <div class = "join_btn">
                                <input type="submit" value="회원가입">
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </body>
</html>