<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/main_style.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <div class = "main">
            <div class="intro_bg">
                <div th:replace="~{header :: header}">

                </div>
                <div class = "intro_text">
                    <h1>시소별</h1>
                    <h3>각종 리뷰를 검색, 비교해 줍니다.</h3>
                </div>    
            </div>
            <!-- intro End -->
            <div class="search_area">
                <form th:action="@{/infoService}" method="get">
                    <ul>
                        <li>
                            <input type="search" name="searchItem1" placeholder="검색어를 입력하세요.">
                        </li>
                        <li>
                            <input type="search" name="searchItem2" placeholder="검색어를 입력하세요.">
                        </li>
                        <li>
                            <input type="submit" id="search_btn" value="검색">
                        </li>
                    </ul>
                </form>
            </div>
        </div>    
    </body>
</html>